(
  axes: {

  },
  actions: {
    "ToggleDebug": [
        [Key(D)]
    ],
    "TogglePause": [
        [Key(P)]
    ],
    "SpeedUp": [
        [Key(Add)]
    ],
    "SlowDown": [
        [Key(Subtract)]
    ],
    "CameraMoveUp": [
        [Key(Up)]
    ],
    "CameraMoveDown": [
        [Key(Down)]
    ],
    "CameraMoveLeft": [
        [Key(Left)]
    ],
    "CameraMoveRight": [
        [Key(Right)]
    ],
    "CameraMoveForward": [
        [Key(LShift), Key(Up)]
    ],
    "CameraMoveBackward": [
        [Key(LShift), Key(Down)]
    ],
  },
)
