(
  axes: {

  },
  actions: {
    "ToggleDebug": [
        [Key(D)]
    ],
    "TogglePause": [
        [Key(P)]
    ],
    "SpeedUp": [
        [Key(Add)]
    ],
    "SlowDown": [
        [Key(Subtract)]
    ],
  },
)
