#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Bee"
                ),
                graphics: (
                    mesh: Shape((shape: Plane(None),)),
                    material: (
                        albedo: File("assets/tiny-bee.png", Png, (channel: Srgb),),
                    ),
                ),
                movement: (
                    velocity: [0.0, 0.0, 0.0],
                    max_movement_speed: 2.0,
                ),
                wander: (
                    angle: 0.0,
                    radius: 1.0,
                ),
                digestion: (
                    digestion: (
                        nutrition_burn_rate: 4.0,
                    ),
                    fullness: (
                        max: 80.0,
                        value: 80.0,
                    ),
                ),
            ),
        ),
    ],
)
