#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Ground"
                ),
                graphics: (
                    mesh: Asset(File("assets/ground.obj", ("OBJ", ()))),
                    material: (
                        albedo: Generate(Srgba(0.1, 0.55, 0.02, 1.0)),
                    ),
                ),
            ),
        ),
    ],
)
