#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Ground"
                ),
                gltf: File("assets/ground.glb", ()),
            ),
        ),
    ],
)
