#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Herbivore"
                ),
                gltf: File("assets/slime.glb", ()),
                movement: (
                    velocity: [0.0, 0.0, 0.0],
                    max_movement_speed: 1.75,
                ),
                wander: (
                    angle: 0.0,
                    radius: 1.0,
                ),
                collider: (
                    radius: 0.45,
                ),
                digestion: (
                    digestion: (
                        nutrition_burn_rate: 1.0,
                    ),
                    fullness: (
                        max: 100.0,
                        value: 100.0,
                    ),
                    nutrition: (
                        value: 50.0,
                    ),
                ),
                combat: (
                    health: (
                        max_health: 100.0,
                        value: 100.0,
                    ),
                    speed: (
                        attacks_per_second: 1.0,
                    ),
                    damage: (
                        damage: 20.0,
                    ),
                    has_faction: (
                        faction: "Herbivores",
                    ),
                ),
                intelligence_tag: (),
                perception: (
                    range: 5.0,
                ),
            ),
        ),
    ],
)
