#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Ixie"
                ),
                graphics: (
                    mesh: Asset(File("assets/sphere.obj", ("OBJ", ()))),
                    material: (
                        albedo: Generate(Srgba(0.95, 0.95, 0.15, 1.0)),
                    ),
                ),
                digestion: (
                    digestion: (
                        nutrition_burn_rate: 0.1,
                    ),
                    fullness: (
                        max: 10.0,
                        value: 10.0,
                    ),
                ),
                combat: (
                    health: (
                        max_health: 10.0,
                        value: 10.0,
                    ),
                ),
                perception: (
                    range: 0.8,
                ),
            ),
        ),
    ],
)
