#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Ixie"
                ),
                graphics: (
                    mesh: Shape((shape: Plane(None),)),
                    material: (
                        albedo: File("assets/tiny-ixie.png", Png, (channel: Srgb),),
                    ),
                ),
                movement: (
                    velocity: [0.0, 0.0, 0.0],
                    max_movement_speed: 5.0,
                ),
                digestion: (
                    digestion: (
                        nutrition_burn_rate: 0.1,
                    ),
                    fullness: (
                        max: 10.0,
                        value: 10.0,
                    ),
                ),
                combat: (
                    health: (
                        max_health: 10.0,
                        value: 10.0,
                    ),
                ),
            ),
        ),
    ],
)
