
#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Nushi"
                ),
                graphics: (
                    mesh: Asset(File("assets/sphere.obj", ("OBJ", ()))),
                    material: (
                        albedo: Generate(Srgba(0.5, 0.7, 0.9, 1.0)),
                    ),
                ),
                movement: (
                    velocity: [10.0, 10.0, 10.0],
                    max_movement_speed: 2.0,
                ),
                ricochet_tag : (),
            ),
        ),
    ],
)
