#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Plant"
                ),
                graphics: (
                    mesh: Asset(File("assets/Bush_1.obj", ("OBJ", ()))),
                    material: (
                        albedo: Generate(Srgba(0.04, 0.6, 0.04, 1.0)),
                    ),
                ),
                digestion: (
                    digestion: (
                        nutrition_burn_rate: 1.0,
                    ),
                    fullness: (
                        max: 100.0,
                        value: 100.0,
                    ),
                    nutrition: (
                        value: 20.0,
                    ),
                ),
                collider: (
                    radius: 0.8,
                ),
                combat: (
                    health: (
                        max_health: 20.0,
                        value: 20.0,
                    ),
                    has_faction: (
                        faction: "Plants",
                    ),
                ),
            ),
        ),
    ],
)
