#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "World"
                ),
                graphics: (
                    mesh: Shape((shape: Sphere(64, 64))),
                    material: (
                        albedo: Data(Rgba((0.1, 0.8, 0.1, 1.0), (channel: Srgb))),
                    ),
                ),
            ),
        ),
    ],
)