#![enable(implicit_some)]
Container(
    transform: (
        id: "controls",
        anchor: Middle,
        width: 800.0,
        height: 650.0,
        y: -100.0,
        z: 10.0,
    ),
    children: [
        Image(
            transform: (
                id: "background",
                width: 800.0,
                height: 650.0,
                anchor: Middle,
            ),
            image: SolidColor(0.2, 0.2, 0.2, 1.0),
        ),
        Label(
            transform: (
                id: "title",
                x: 0.0,
                y: -50.0,
                z: 10.0,
                width: 300.0,
                height: 100.0,
                anchor: TopMiddle,
                mouse_reactive: false,
            ),
            text: (
                text: "Controls",
                font: File("assets/fonts/OpenSans-Regular.ttf", ("TTF", ())),
                font_size: 72.0,
                color: (0.7, 0.7, 0.7, 1.0),
            ),
        ),
        Button(
            transform: (
                id: "done button",
                x: 0.0,
                y: 50.0,
                z: 10.0,
                width: 100.0,
                height: 50.0,
                anchor: BottomMiddle,
                mouse_reactive: true,
            ),
            button: (
                text: "Done",
                font: File("assets/fonts/OpenSans-Regular.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_image: SolidColor(0.5, 0.5, 0.5, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.5, 0.5, 0.5, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
    ]
)
