#![enable(implicit_some)]
Container(
    transform: (
        id: "pause_menu",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),
        width: 1280.0,
        height: 960.0,
    ),
    children: [
        Button(
            transform: (
                id: "resume",
                x: 0.0,
                y: 30.0,
                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Resume",
                font: File("assets/fonts/OpenSans-Regular.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "exit_to_main_menu",
                x: 0.0,
                y: -30.0,
                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Exit to Main Menu",
                font: File("assets/fonts/OpenSans-Regular.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
    ]
)
